@font-face {
  font-family: "GameBoy";
  src: url('../assets/fonts/tetris-gb.otf') format("truetype");
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

canvas {
  position: fixed;
  margin: 0;
}

.grid {
  width: 100%;
  height: 100%;
}